language: ruby
before_install:
  - gem install bundler
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
rvm:
  - 2.0.0
script: bundle exec rake
notifications:
  email:
    - johnvoloski@gmail.com
