*{padding:0;margin:0}
body, input{
	font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:14px;
}
body{
	padding:30px;
}
#content{
	width:1024px;
	margin:0 auto;
}
input{
	padding:2px;
	margin-bottom:10px;
}
fieldset{
	padding:20px;
	margin-bottom:10px;
}
label{
	display:block;
}
/*.code{
	padding:10px;
	border:dashed 1px black;
	color:#0C3B5F;
	margin-bottom:20px;
}*/
.red{
	color:red;
}
hr{
	margin:12px 0;
}
h2{
	color:#1A5B8F;
	margin-bottom:8px;
	font-size:24px;
}
h3{
	color:#1A5B8F;
	margin:12px 0 8px 0;
	font-size:18px;
}
p{
	margin:8px;
}
em{
	display:block;
	margin-bottom:10px;
	font-size:11px;
}
a{
	color:#0D456F;
}
a:hover{
	color:#ffffff;
	background:#0D456F;
}
ul{
	margin:0 0 10px 20px;
}
li{
	margin-bottom:5px;
}
.highlight{
	color:red;
	font-weight:900;
}